/* Ref: https://github.com/tofsjonas/sortable */
.sortable {
  border-spacing: 0;
}

.sortable td,

.sortable td:first-child,
.sortable th:first-child {
  border-top-left-radius: 4px;
}

.sortable td:last-child,
.sortable th:last-child {
  border-top-right-radius: 4px;
}

.sortable th {
  font-size: 1.2em;
  color: #fff;
  cursor: pointer;
  font-weight: normal;
  text-align: left;
  text-transform: capitalize;
  vertical-align: baseline;
  white-space: nowrap;
}

.sortable td {
  font-size: 1.2em;
}

.sortable th:hover {
  background: hsl(252,6%,30%);
}

.sortable th:hover::after {
  color: inherit;
  font-size: 1.2em;
  content: ' \025B8';
}

.sortable th::after {
  font-size: 1.2em;
  color: transparent;
  content: ' \025B8';
}

.sortable th.dir-d::after {
  color: inherit;
  content: ' \025B4';
}

.sortable th.dir-u::after {
  color: inherit;
  content: ' \025BE';
}

